*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.Header{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.head{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: xx-large;
    position: relative;
}
.dott{
    background-color: red;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    left: 110px;
    margin-top: 30px;
}
.navbar{
    display: flex;
}
.nav{:hover{color: rgb(255, 0, 0);}
    gap: 50px;
    margin-left: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor: pointer;
    
}
.search{
    margin-top: 15px;
    margin-left: 100px;
    cursor: pointer;
}
.heart{:hover{color: red;}
    margin-top: 15px;
    margin-left: 18px;
    cursor: pointer;
}
.bag{
    margin-top: 15px;
    margin-left: 25px;
    cursor: pointer;
}
.ball{
    margin-top: 15px;
    margin-left: 25px;
    cursor: pointer;
}
.card-section{
   display: grid;
   grid-template-columns: repeat(3 200px);
   gap: 30px;
   padding: 30px;
}
.footer-page{
        width: 200px;
}
.p-1-5{
    width: 50px;
    margin-left: 100%;
}
.footer-detail{
    padding: 50px 0px;
    padding-left: 60px;
    background-color: rgb(218, 92, 92);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.p-1-3{
    margin-top: 30px;
    width: 250px;
    font-size: small;
    color: rgb(168, 168, 168);
}

.footer-page{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 40px;
    margin-top: 20px;
    
}

.links{:hover{color: red;}
    width: 150px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.foter-link{
    text-decoration: none;
    font-size: small;
    color: var(--text-color);
    line-height: 30px;
}
.h7{
    display: flex;
    align-items: center;
    margin:0px 40px;
    gap: 3px;
}
.h6{
    margin-top: 3px;
    font-size: small;
    font-weight: 640;
}
.copywrite{
    width: 95%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(255, 255, 255);
    padding: 25px 1px;
}
.policy{
    width: 30%;
    display: flex;
    justify-content: space-between;